*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*---------------------- FORSIDE ------------------------*/

#marblevideo
{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}

#marble video
{
    position: absolute;
    width: 100%;
    z-index: -1;
}

#videooverskrift
{
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
}

#videooverskrift h1
{
    color: white;
    font-size: 4.5vw;
    font-family: "georama-variable", sans-serif;
    margin: 0% 10%;
    line-height: 1.25;
}

#videooverskrift a i
{
    background-color: black;
    border-radius: 50px;
    padding: 8px;
}

#videooverskrift a
{
    color: white;
    bottom: 10px;
    position: absolute;
}

#marble
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

html 
{
    scroll-behavior: smooth;
}



/*---------------------- FØRSTE SEKTION MED TEKST ------------------------*/

#intro
{
    padding: 5% 10%;
    background-color: #ffdeac;
}


#intro h1
{
    margin-bottom: 3%;
    text-align: center;
    color: purple;
    font-size: 2.7vw;
    font-family: "georama-variable", sans-serif;
    line-height: 1.7;
}

#underrubrik
{
    text-align: center;
    font-size: 1.8vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}

#sectionTo
{
    padding: 5% 11%;
}

#toflexbox
{
    display: flex;
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}

#venstrekolonne
{
    width: 50%;
    padding-right: 5%;
    display: grid;
    align-content: center;
}

#hojrekolonne
{
    width: 50%;
    padding-left: 5%;
}

#hojrekolonne img
{
    width: 60%;
    margin: auto;
    display: block;
    padding: auto;
    padding-bottom: 10%;
}



/*---------------------- CITAT I BRUNT AFSNIT ------------------------*/

#brun
{
    background-color:#8a7260;
    height: 60vh;
    color: white;
    font-family: "georama-variable", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#brun div
{   
    text-align: center;
    font-size: 2.3vw;
    padding: 0% 19%;
    font-weight: bold;
    line-height: 1.7;
    font-style: italic;
}

#brun p
{
    padding-right: 2%;
    padding-bottom: 1.5%;
    font-size: 1vw;
    font-style: italic;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}



/*---------------------- LILLA MARBLE AFSNIT ------------------------*/

#lilla
{
    background-image: url(images/lilla.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    display: flex;
    padding: 5% 10%;
}

#lilla div img{
    width: 65%;
}

#lilla div
{
    width: 50%;
    display: grid;
    align-content: center;
}

#lilla div p
{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}



/*---------------------- CITAT I HVID AFSNIT ------------------------*/

#hvidCitat
{
    height: 50vh;
    font-family: "georama-variable", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#hvidCitat div
{   
    color: #62422b;
    text-align: center;
    font-size: 3vw;
    padding: 0% 19%;
    font-weight: bold;
    line-height: 1.7;
    font-style: italic;
    padding-bottom: 3%;

}




/*---------------------- JEANETTES KARRIERE ------------------------*/

#karriere
{
    background-color: #e9e9e9;
    display: flex;
    padding: 5% 10%;
}

#karriere div{
    width: 50%;
    color: #62422b;
}

#karriere div:first-child{
    display: grid;
    align-content: center;
}

#karriere div h1
{
    font-family: "georama-variable", sans-serif;
    font-weight: bold;
    margin-bottom: 3%;
}

#karriere div p
{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}

#karriere div:nth-child(2)
{
    display: flex;
    justify-content: right;
}

#karriere div img{
    width: 60%;
}



/*---------------------- AFSNIT MED GIF OG SLIDESHOW ------------------------*/

.slideshow-container
{
    position: relative;
    background-color: #e2e6ff;
    display: flex;
    height: 65vh;
    padding: 5% 10%;
}
  
.mySlides
{
    display: none;
    width: 100%;
}
  
.slidebillede
{
    float: left;
    height: 100%;
    object-fit: contain;
    width: 50%;
    align-content: center;
    display: flex;
    justify-content: center;
}

.slidebillede img
{
    width: 70%;
    margin:auto;
    display: block;
}
  
.text
{
    float: right;
    width: 50%;
    height: 100%;
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
    text-align: justify;
    display: flex;
    align-items: center;
}

.text p
{   
    display:flex;
    align-content: center;
    justify-content: center;
}

  
.tilbage, .frem
{
    position: absolute;
    color: white;
    cursor: pointer;
    top:45%
}
  
.frem
{
    right: 0
}

.tilbage
{
    padding-left: 3%;
    left: 0;
}


.fade
{
    animation-name: fade;
    animation-duration: 1s;
}
  
@keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}
  
.mySlides:first-child .tilbage
{
    pointer-events: none;
    opacity: 0.5;
}

.mySlides:last-child .frem 
{
    pointer-events: none;
    opacity: 0.5;
}

/*---------------------- TIDSLINJE ------------------------*/

#tidslinje
{
    background-image: url(images/brun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #62422b;
    font-family: "georama-variable", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    font-weight: 900;
}

#tidslinje img
{
    width: 100vw;
}



/*------------------------ HVIDT AFSNIT MED TEKST --------------------------*/

#fordomme
{
    display: flex;
    padding: 5% 10%; 
    flex-wrap: wrap;
}

#fordomme div:first-child
{
    width: 100%;
}

#fordomme div:nth-child(2)
{
    padding-right: 3%;
}

#fordomme div:nth-child(3)
{
    padding-left: 3%;
}

#fordomme div
{
    width: 50%;
    color: #62422b;
}

#fordomme h1
{
    font-family: "georama-variable", sans-serif;
    font-weight: bold;
    margin-bottom: 3%;
}

#fordomme div p
{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}



/*------------------------ BEIGE AFSNIT MED TEKST --------------------------*/

#beige
{
    background-color: #d6cabc;
    display: flex;
    padding: 5% 10%;
}

#beige div{
    width: 50%;
    color: #62422b;
}

#beige div:first-child{
    display: grid;
    align-content: center;
}

#beige div h1
{
    font-family: "georama-variable", sans-serif;
    font-weight: bold;
    margin-bottom: 3%;
}

#beige div p
{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}

#beige div:nth-child(2)
{
    display: flex;
    justify-content: right;
}

#beige div img{
    width: 70%;
}



#beigeTo
{
    background-color: #d6cabc;
    padding: 0% 12% 5% 12%;
    color: #62422b;
    text-align: center;
}

#beigeTo h1
{
    font-family: "georama-variable", sans-serif;
    font-weight: bold;
    font-style: italic;
    margin: 4% 0%;
    line-height: 1.7;
}

#beigeTo p
{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
}


/*------------------------ AFSNIT MED CIRKELDIAGRAM --------------------------*/

#diagram
{
    text-align: center;
    padding: 5% 10%;
}

#diagram h1
{
    font-family: "georama-variable", sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5%;
    color: #62422b;
    font-size: 2.7vw;
    line-height: 1.7;
}

#diagram img
{
    width: 40%;
}

#diagram p{
    font-size: 1.3vw;
    font-family: "poppins", sans-serif;
    line-height: 1.7;
    margin-top: 5%;
}



/*------------------------ AFSNIT MED VIDEO / INFOGRAPHIC --------------------------*/

#videoAfsnit
{
    background-image: url(images/lilla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 5% 10%;
    text-align: center;
}

#videoAfsnit video
{
    width: 70%;
}

/*------------------------ GODE RÅD --------------------------*/

#goderad
{
    background-color: #8a7260;
    height: 55vh;
}

#goderad p
{  
    padding-top: 5%;
    color: white;
    font-size: 2.7vw;
    font-family: "georama-variable", sans-serif;
    text-align: center;
}

#karusel
{
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#venstrePil, #hojrePil
{
    cursor: pointer;
    padding: 5%;
}

/*------------------------ QUOTE --------------------------*/

#quote
{
    height: 60vh;
    background-image: url(images/brun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "georama-variable", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
    padding-left: 19%;
    padding-right: 19%;
    text-align: center;
    line-height: 1.7;
    font-weight: bold;
    font-style: italic;
}


footer
{
    background-color: white;
    height: 30vh;
}

#footerbox
{
    display: flex;
    text-align: center;
    padding-top: 5%;
    font-family: "georama-variable", sans-serif;


}

#footerbox div
{
    justify-content: center;
    width: 33%;
    font-size: 1.1vw;

}

#footerbox div a
{
    text-decoration: none;
    color: black;
    margin-top: 5%;
    font-weight: bold;
}

#navn
{
    text-align: center;
    font-size: 1vw;
    font-family: "georama-variable", sans-serif;
    padding-top: 7%;
}