*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#marblevideo
{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}
video
{
    position: absolute;
    width: 100%;
    z-index: -1;
}
#videooverskrift
{
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
}

#videooverskrift h1
{
    color: white;
    font-size: 4.5vw;
    font-family: georama-variable, sans-serif;
    margin: 0 10% 0 10%;
}

#videooverskrift a i
{
    background-color: black;
    border-radius: 50px;
    padding: 8px;
}

#videooverskrift a
{
    color: white;
    bottom: 10px;
    position: absolute;
}

#marble
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#intro
{
    padding: 5% 10%;
}

html 
{
    scroll-behavior: smooth;
}

#intro h1
{
    margin: 3% 0%;
    text-align: center;
    color: purple;
    font-size: 2.7vw;
    font-family: georama-variable, sans-serif;
}

#underrubrik
{
    text-align: center;
    font-size: 1.8vw;
    font-family: poppins, sans-serif;
    line-height: 1.6;
}

#sectionTo
{
    padding: 0% 11% 5% 11%;
}

#toflexbox
{
    display: flex;
    font-size: 1.3vw;
    font-family: poppins, sans-serif;
    line-height: 2;
}

#venstrekolonne
{
    width: 50%;
    padding-right: 5%;
}

#hojrekolonne
{
    width: 50%;
    padding-left: 5%;
}



#hojrekolonne img
{
    width: 67%;
    margin: auto;
    display: block;
    padding: auto;
    padding-bottom: 10%;
    padding-top: 3%;
}

#brun
{
    background-color:#8a7260;
    height: 60vh;
    color: white;
    font-family: poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
}

#brun div
{   
    text-align: center;
    font-size: 2.3vw;
    padding: 0% 19%;
    font-weight: bold;
    line-height: 1.5;
    font-style: italic;
}

#brun p
{
    padding-right: 2%;
    padding-bottom: 1.5%;
    font-size: 1vw;
    font-style: italic;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
